@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

/*** Navbar ***/

.navbar {
    background: rgb(0,187,255);
    background: linear-gradient(0deg, rgba(0,187,255,1) 0%, rgba(6,27,74,1) 100%);
}

.nav-link {
    font-size: 20px;
    color: yellow;
}

.nav-link:hover {
    color: rgb(110, 110, 9);
}

/*** Navbar End ***/
/*** Main ***/

.card {
    background-color: rgba(39, 37, 41, 0.644);
    text-align: center;
    color: rgb(255, 255, 255);
}

.section {
    background-image: url(./../assets/img/background.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 90vh;
    color: rgb(197, 162, 5);
}

.col img {
    max-width: 100px;
    max-height: 150px;
}