@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
.animal,
.buildings,
.villagers,
.crops {
  background-color: rgba(39, 37, 41, 0.644);
  border-radius: 10px;
  justify-content: center;
  margin: 5px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif; }
  *::selection {
    background-color: #0a2958;
    color: #e0ec5a; }

.navbar {
  background: #00bbff;
  background: linear-gradient(0deg, #00bbff 0%, #061b4a 100%); }
  .navbar .nav-link {
    font-size: 20px;
    color: #e0ec5a; }
    .navbar .nav-link:hover {
      transition: 0.3s;
      color: #9b9b1d; }
  .navbar .nav-active {
    color: #9b9b1d; }

.section {
  background-image: url(./../assets/img/background.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 90vh;
  color: #9b9b1d; }
  .section .card {
    background-color: rgba(39, 37, 41, 0.644);
    text-align: center;
    color: white; }
  .section .col img {
    max-width: 100px;
    max-height: 150px; }

.section .ca-card1 {
  background-color: rgba(255, 0, 0, 0.5); }

.section .ca-card2 {
  background-color: rgba(0, 128, 0, 0.5); }

.section .ca-card3 {
  background-color: rgba(0, 0, 255, 0.5); }

.section .ca-card4 {
  background-color: rgba(128, 128, 128, 0.5); }

.section .ca-card5 {
  background-color: rgba(0, 255, 255, 0.5); }

.footer {
  background: #061b4a;
  background: linear-gradient(0deg, #061b4a 0%, #00bbff 100%); }
  .footer .icons img {
    width: 35px;
    height: 35px; }
