.section {
    background-image: url(./../assets/img/background.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 90vh;
    color: $secondarycolor;

    .card {
        background-color: rgba(39, 37, 41, 0.644);
        text-align: center;
        color: rgb(255, 255, 255);
    }

    .col img {
        max-width: 100px;
        max-height: 150px;
    }
}

$cards: (
    card1: rgba(255, 0, 0, 0.5),
    card2: rgba(0, 128, 0, 0.5),
    card3: rgba(0, 0, 255, 0.5),
    card4: rgba(128, 128, 128, 0.5),
    card5: rgba(0, 255, 255, 0.5)
);

@each $seccards, $bgcolor in $cards {
    .section .ca-#{$seccards} {
        background-color: $bgcolor;
    }
}

.animal,
.buildings,
.villagers,
.crops {
    @extend %animg;
}