@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

$fontMerriweather: 'Merriweather', serif;

$maincolor: #e0ec5a;
$secondarycolor:#9b9b1d;

%animg {
    background-color: rgba(39, 37, 41, 0.644);
    border-radius: 10px;
    justify-content: center;
}